<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %} <!-- This already injects title, description, canonical, og, twitter -->
    <!-- <title>{{ page.title | escape }} | {{ site.title | escape }}</title> -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">


</head>

<body class="bg-gray-50 text-gray-800 font-sans">

    <!-- Include the navigation bar -->
    {% include navbar.html %}

    <!-- Main content area -->
    <main class="container mx-auto px-4 py-8 md:py-12">
        {{ content }}
    </main>

    <!-- Include the footer -->
    {% include footer.html %}

    <!-- You can include JS files here if needed -->
    <!-- <script src="{{ '/assets/js/main.js' | relative_url }}"></script> -->

    <script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>

</body>

</html>